.DS_Store
*.swp
*.Trashes
*.pyc

TeslaRift-Unity/Library
TeslaRift-Unity/Temp
TeslaRift-Unity/obj
TeslaRift-Unity/build
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs

Live/TeslaRift\ Project/Icon?
TeslaRift-Unity/Assets/.SyncArchive
TeslaRift-Unity/.SyncArchive
Live/MidiRemote/.SyncArchive
Live/MidiRemote/.SyncID
Live/MidiRemote/.SyncIgnore
